.App {
  text-align: center;
  background-image: url(./Components/imgs/stock/Shapes.jpeg);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
